[recursor]
type = "resolver"

[recursor.roots]
. = [
{% for ip in opennic_masters %}
  "{{ ip }}",
{% endfor %}
]

[[zones]]
zone = "."
zone_type = "Forward"
stores = [{ type = "recursor", recursor = "recursor" }]

[listen_addrs]
addr = "0.0.0.0:53"
proto = "udp"
{% if trust_dns_enable_dot %}
addr = "0.0.0.0:{{ trust_dns_dot_port }}"
proto = "tls"
{% endif %}

{% if trust_dns_minimal_logging %}
[log]
level = "error"
{% else %}
[log]
level = "info"
{% endif %}

