//
// named.conf
//
// Updated for use with OpenNIC by hack13

options {
	listen-on port 53 { any; };
	listen-on-v6 port 53 { any; };
	allow-query     { any; };

	recursion yes;
	version "[hidden]";
	dnssec-validation {{ dnssec_validation }};
{% if enable_dot %}
	listen-on tls port {{ dot_port }} { any; };
	listen-on-v6 tls port {{ dot_port }} { any; };
	tls local-tls {
		key-file "{{ dot_key }}";
		cert-file "{{ dot_certificate }}";
	};
{% endif %}
{% if enable_rate_limiting %}
	rate-limit {
		responses-per-second {{ rate_limit_requests }};
		window {{ rate_limit_window }};
	};
{% endif %}
};
{% if enable_query_logging %}
logging {
	channel query_log {
		file "{{ log_file }}";
		severity info;
		print-time yes;
	};
	category queries { query_log; };
};
{% elif minimal_logging %}
logging {
	category default { null; };
	category general { null; };
};
{% endif %}