//
// named.conf
//
// Updated for use with OpenNIC by hack13

options {
	listen-on port 53 { any; };
	listen-on-v6 port 53 { any; };
	allow-query     { any; };

	recursion yes;
	version "[hidden]";
	dnssec-validation {{ bind_dnssec_validation }};
{% if bind_enable_dot %}
	listen-on tls port {{ bind_dot_port }} { any; };
	listen-on-v6 tls port {{ bind_dot_port }} { any; };
	tls local-tls {
		key-file "{{ bind_dot_key }}";
		cert-file "{{ bind_dot_certificate }}";
	};
{% endif %}
{% if bind_enable_rate_limiting %}
	rate-limit {
		responses-per-second {{ bind_rate_limit_requests }};
		window {{ bind_rate_limit_window }};
	};
{% endif %}
};
{% if bind_enable_query_logging %}
logging {
	channel query_log {
		file "{{ bind_log_file }}";
		severity info;
		print-time yes;
	};
	category queries { query_log; };
};
{% elif bind_minimal_logging %}
logging {
	category default { null; };
	category general { null; };
};
{% endif %}